body {
  color: #353535;
}

li {
  text-decoration: none;
  list-style: none;
}

.number-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.number-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px #004278;
  border-radius: 50%;
  font-weight: bold;
  margin-left: 1rem;
  color: #004278;
}

.list-users li {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
}

.btn {
  background-color: #004278;
  padding: 1rem 10rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 3px #35353590 !important;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
  transition: all 0.5s;
}

.btn:hover {
  color: white;
  background-color: #023055;
  box-shadow: 1px 1px 5px #353535 !important;
  transition: all 0.5s;
}
